@CHARSET "UTF-8";
@font-face {
    font-family: 'TitilliumWeb-Regular';
    src: url('http://cdn.fterceiro.pt/library/fonts/Titillium_Web/TitilliumWeb-Regular.ttf');
    font-weight: normal;
    font-style: normal;

}
*{
	font-family: "TitilliumWeb-Regular", Arial, Helvetica, Geneva, sans-serif;
}
body {
	padding-top: 60px;
	background-color: #f9f9f9;
}

.initform {
	margin: auto;
	width: 800px;
	border: 1px solid silver;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 25px;
	background-color: white;
}

.txtar {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.center {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}

.nav_list {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

.info-txt {
	color: #349dc1;
	text-decoration: underline;
}

.instrucoes {
	font-size: 90%;
}
.mywhite {
	background-color: white;
}

.space {
	padding: 20px 0 30px 30px;
}

.space p {
	padding-bottom: 8px;
	color: #4b95c5;
}

.txtsmall {
	font-size: 95%;
}
.esp {
	padding-left: 20px;
	padding-right: 30px;
}

#txt-errors{
	color: red;
}

#txt-errors a:hover{
	color: red;
	text-decoration: underline;
}

.size-20 {
	width: 120px;
}

.centerz {
	margin: auto;
	width: 900px;
	padding-top: 10px;
	padding-right: 30px;
	padding-left: 30px;
}

.spacer10 {
	padding: 10px;
}

.spacer20 {
	padding: 20px;
}

.pagination-div {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	font-size: 85%;
	margin-bottom: 10px;
}

.pag a {
	padding-left: 8px;
	padding-right: 8px;
	border-right: 1px solid silver;
}

.sp-left-5 {
	margin-left: 5px;
}
.sp-right-5 {
	margin-right: 5px;
}
.hidden {
	display: none;
}

.p-alert {
	color: #ff2345;
}

#content-mail {
	margin-left: 200px;
}

.content-mail-body{
	text-align: center;
}
.space-bottom-10 {
	margin-bottom: 13px;
	margin-top: 5px;
}
.bottom-10 {
	margin-bottom: 10px;
}
.bottom-15 {
	margin-bottom: 15px;
}
.top-5 {
	margin-top: 5px;
}
.right-5{
	margin-right: 5px;
}
.pad-right-5{
	padding-right: 5px;
}
#radio-inline-li li
{
list-style-type: none;
padding-right: 20px;
	float: left;
}